html{
    background-color: #E62323;
}

@font-face {
  font-family: mainFont;
  src: url(Antonio-VariableFont_wght.ttf);
}

div {
  font-family: mainFont;
}
@font-face {
  font-family: textImput;
  src: url(RobotoSlab.ttf);
}

input[type=text] {
  width: 350px;
  font-family: textImput;
}
}
input[type=text]:focus {
  border: 10px solid #555;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #69b3d1; /* Hoohooo! Nice number (¬‿¬) */
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: textImput;
}
.updatePanel {
  background: #e4f52a;
  border: 20px solid #fa9111;
  height: 650px;
  width: 500px;
  padding: 10px;
}

/* These are the indications I told you about!! :D */
.iconSearchNews {
  position: relative; /* We set the position to relative */
  left: -190px; /* But these are the important parts! Here, we position the icon -190px to the left */
  bottom: -27px; /* Here, we position the icon -27 px to the bottom.*/
}
input[type=select] {
   font-family: textImput;
}

/* Dark-mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
.triggered-text {
     /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.triggered-doge {
      /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.dark-mode {
  background-color: black;
  color: white;
}